.menu-header{
    background: $white;
    .navbar-brand{
        margin-right: 0;
        padding: 0;
        flex-grow: .2;
        text-align: center;
        
        img{
            width: 47px;
            height: 47px;
        }
    }
    .navbar{
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding: .5rem 0;
        
        @media #{$mq-1024}{
            justify-content: space-between;
        }
    }
    .navbar-nav{
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        
        @media #{$mq-1024}{
            flex-grow: 0;
            justify-content: flex-start;
        }
    }
    .nav-item{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        cursor: pointer;
        @media #{$mq-1024}{
            flex-direction: row;
            align-items: center;
            margin-left: 2rem;
            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                width: 0%;
                height: 2px;
                transition: .3s;
                background: linear-gradient(to right, $cor-principal 14%, $menu-icon-color-2 77.7%);
            }
            &:hover{
                .nav-link{
                    color: rgba(0,0,0,.9);
                }
                &::after{
                    width: 100%;                    
                }
            }
            
        }
        .menu-icon{
            background: $cor-principal;
            background: -webkit-linear-gradient($cor-principal 14%, $menu-icon-color-2 77.7%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;  
        }        
        .nav-link{
            font-size: .8rem;
            padding: 0;
            color: $menu-text;
            font-weight: bold;
            @media not all and(min-width: 330px){
                font-size: .7rem;
            }
            @media #{$mq-1024}{
                font-size: .9rem;
            }
        }
    }
}
/*Classes com auxilio de JS*/
.hide-menu{
    transform: translateY(102%);
    transition: .3s;
}
.show-menu{
    transform: translateY(0%);
    transition: .3s;
}