//Variáveis
$cor-principal: #7D00FD;
$cor-secundaria: #FDA219;


//Variaveis menu
$menu-text: #797979;
$menu-icon-color-1: #fff;
$menu-icon-color-2: #ffd26d;

//Variaveis Jumbotron
$jumbotron-title-legend: #fff;


//Variaveis Skill Tree
$border-width: 7px;

// Media Queries
$mq-1024: "(min-width:1024px)";